.icons-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  left: 95.5%;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 3px;
  cursor: pointer;
}

.icons-wrapper:hover {
  background-color: rgb(153, 152, 152);
}

.content {
  display: flex;
  height: calc(100% - 68px);
  &_catalog {
    margin-top: 4%;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_info {
    margin-top: 4%;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.block-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.chosen-category {
  display: flex;
  text-align: center;
  justify-self: center;
  font-size: 28px;
  font-weight: bold;
  color: rgb(224, 224, 224);
  margin-left: 35%;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 80%;
  color: rgb(104, 103, 103);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(104, 103, 103, 0.26);
    border-radius: 10px;
    background-clip: content-box;
    border: 2px solid transparent;
  }
}
.categories-item {
  display: flex;
  align-items: center;
  margin: 3px 5px;
  width: 100%;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.cases-loading {
  align-self: center;
  margin-left:calc(50% - 35px);
}

.categories-item:hover {
  background-color: whitesmoke;
}

.categories-item:active {
  background-color: whitesmoke;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  width: 90%;
  height: 80%;
  color: rgb(104, 103, 103);
}

.video-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 90%;
}

.no-video {
  font-size: 22px;
  font-weight: bold;
  color: #c9c9c9;
  align-self: center;
  text-align: center;
  width: 100%;
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  min-width: 200px;
  height: 280px;
  margin: 15px 15px;
  background-color: whitesmoke;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover div.card-icon {
    visibility: visible;
    z-index: 99;
    position: absolute;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
  }
}

.card-delete {
  visibility: hidden;
  opacity: 0;
  top: 5px;
  right: 5px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.3);
  &:hover{
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.card-edit {
  visibility: hidden;
  opacity: 0;
  top: 5px;
  right: 35px;
  border: 1px solid lightgray;
  &:hover{
    background-color: lightgray;
  }
}

.category-item:hover {
  transform: scale(1.025);
  transition: transform 0.3s ease-in-out;
}
.item-poster {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.info-availability {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: rgba(161, 240, 69, 1);
}

.red {
  background-color: rgba(240, 87, 108, 1);
}

.item-info {
  width: 80%;
  text-align: left;
}
