:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #474747;
}
.data-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.data-time {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-data {
  width: 600px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 5px;
  width: 24%;
}

.frame {
  width: 50%;
  text-align: center;
}

.current {
  width: 50%;
  text-align: center;
}

.video {
  width: 50%;
}

.video-time {
  align-self: flex-start;
  border-radius: 16px;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controllers-wrapper {
  display: flex;
  height: 55%;
  width: 100%;
  padding-bottom: 10px;
}

.play-controllers {
  display: flex;
  justify-content: space-around;
  width: 100%;
 // background-color: #eaeaf1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 40%;
}

.control_button {
  cursor: pointer;
  margin: 3px 5px;
}
.play-buttons {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 16px;
  border: 2px solid #8c8c8c;
  box-sizing: border-box;
}

.seek-controllers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  box-sizing: border-box;
}

.seeking-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.control_button:hover:disabled {
  cursor: not-allowed;
}

.playback-status {
  top: -20px;
  left: 20px;
  position: absolute;
  height: 10px;
  font-size: 10px;
}

mat-slider {
  width: 640px;
  color: rgb(26, 156, 176) !important;
  border-radius: 5px;
  height: 20px;
  display: flex;
  align-items: center;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: rgb(26, 156, 176);
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: rgb(26, 156, 176);
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgb(26, 156, 176);
}

.small_font {
  font-size: 10px;
}

.shadow {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6))
    drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.6));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6))
    drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.6));
}

.slider{
  width: 100%;
}
