<body>
  <neo-toolbar color="primary" class="header">
    <a routerLink="/">
      <img class="header__logo" alt="logo" src="../../../assets/logo.svg" />
    </a>
    <div class="title-wrapper">
      <div class="logo-wrapper">
        <img class="header-demo" src="../../../assets/dm_icon_d1.svg" />
      </div>
      <div class="menu-text"><span class="menu-name">CV Demo Lab</span></div>
    </div>
  </neo-toolbar>

  <router-outlet></router-outlet>
  <!-- <footer class="footer">Made with Angular Neomorphism</footer> -->
</body>
