.table-row {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-weight: 22px;
  box-sizing: border-box;
}

.table-one-wrapper {
  margin-top: 50px;
}

.cell {
  width: 25%;
  height: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border: 1px solid rgb(206, 205, 205);
}

:host {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(104, 103, 103, 0.26);
    border-radius: 10px;
    background-clip: content-box;
    border: 2px solid transparent;
  }
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

img {
  box-sizing: border-box;
}

.match {
  background-color: rgb(0, 128, 0);
  color: white;
}

.partial-match {
  background-color: rgb(255, 255, 0);
  color: grey;
}

.mismatch {
  background-color: rgb(255, 0, 0);
  color: white;
}
